<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-28 w-auto" src="2.png" alt="Your Company">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
            Reset your password here
        </h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6" [formGroup]="userForm" action="#" method="POST">

            <div>
                <div class="flex items-center justify-between">
                    <label for="password" class="block text-sm font-medium leading-6 text-gray-900">New Password</label>
                </div>
                <div class="mt-2">
                    <input id="password" name="password" type="password" autocomplete="current-password"
                        formControlName="password"
                        class=" ps-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>

                <div *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.dirty">
                    <span class="text-red-500" *ngIf="userForm.get('password')?.errors?.['required']">This field must
                        not be empty</span>
                    <div class="text-red-800" *ngIf="userForm.get('password')?.hasError?.('invalidPassword')">
                        Password must contain at least one number and one special character.
                    </div>

                </div>
            </div>


            <div>
                <div class="flex items-center justify-between">
                    <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Confirm New Password</label>
                </div>
                <div class="mt-2">
                    <input id="confirmPassword" name="confirmPassword" type="password" autocomplete="current-password"
                        formControlName="confirmPassword"
                        class=" ps-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
        <div class="m-1 text-sm text-red-500">{{msg0}}</div>


            </div>
            






            <div>
                <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid"
                    (click)="onSubmit()"
                    class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Reset
                    Password</button>
            </div>
        </form>




        <!-- <div class="text-center text-sm text-green-500">{{msg1}}</div> -->

    </div>
</div>